.svg-hy-facebook {
	background: url("svg/sprite.css-0084755e.svg") 43.58974358974359% 0 no-repeat;
}

.svg-hy-facebook-dims {
	width: 11px;
	height: 22px;
}

.svg-hy-insta {
	background: url("svg/sprite.css-0084755e.svg") 0 100% no-repeat;
}

.svg-hy-insta-dims {
	width: 18px;
	height: 18px;
}

.svg-hy-pin {
	background: url("svg/sprite.css-0084755e.svg") 0 0 no-repeat;
}

.svg-hy-pin-dims {
	width: 17px;
	height: 23px;
}

.svg-hy-twitter {
	background: url("svg/sprite.css-0084755e.svg") 100% 0 no-repeat;
}

.svg-hy-twitter-dims {
	width: 22px;
	height: 19px;
}

