/* Imports */
@import "default.scss";

html {
  --bg: hsl(0, 0%, 96%);
  --bg-panel: hsl(0, 0%, 98%);
  --btn:hsl(240,8%, 42%);
  --btn-bg: hsl(0, 0%, 88%);  
  --btn-bg: hsl(0, 0%, 88%);
  --btn-bg-active: rgb(76, 187, 117, 0.8);
  --color-text: hsl(240,8%, 32%);
  --color-text-drop: hsl(240,8%, 22%);
  --color-text-hover:hsl(240,8%, 12%);
}

html[data-theme='dark'] {  
  --bg: hsl(240,8%, 16%);
  --bg-panel: hsl(240,8%, 22%);
  --btn: hsl(0, 0%, 90%);
  --btn-bg: hsl(240,8%, 32%);  
  --btn-bg-active: rgb(76, 187, 117, 0.8);
  --color-text: hsl(0, 0%, 90%);
  --color-text-drop:hsl(0, 0%, 95%);
  --color-text-hover: hsl(0, 0%, 100%);
}

body {
  background-color: var(--bg);
}

nav {
  display: flex;
  justify-content: space-between;
  height: calc(10px, $font-size);
  background-color: var(--bg-panel);
  font-family: $font-family;
  font-size: $font-size;
}

.logo {
  a {
    display: block;
    text-align: center;
    margin: 5px 15px;
    transition: all 0.3s ease;
    color: var(--color-text);
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

.nav-links li {
  list-style: none !important;
  margin: 5px 10px;
}

.nav-links a {
  text-decoration: none;
  color: var(--color-text);
}

.nav-links a:hover {
  color: var(--color-text-hover);
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
}

/* Settings Drop */
.settings-drop-wrapper {
  padding-right: 15px;
  display: inline-block;
  position: relative;
}

.settings-drop-wrapper>a {
  display: flex;
  align-items: center;
}

.settings-drop-wrapper>a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid var(--color-text);
  border-right: 2px solid var(--color-text);
  position: absolute;
  right: 4px;
  transform: rotate(135deg);
  align-self: center;
}

.settings-drop {
  display: none;
  position: absolute;
  background-color: var(--btn);
  border-radius: 3px 3px;
  width: 90px;
}

.settings-drop a {
  line-height: 20px;
  display: block;
  margin: 3px;
  color: var(--bg);
  padding: 0 5px;
  position: relative;
  text-align: center;
}

.settings-drop a:hover {
  color: var(--bg-panel);
  background-color: var(--color-text-drop);
}

.settings-drop .settings-drop-wrapper>a {
  display: flex;
  align-items: center;
}

.settings-drop .settings-drop-wrapper>a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #313131;
  border-right: 2px solid #313131;
  position: absolute;
  right: 5px;
  transform: rotate(45deg);
}

.settings-drop-wrapper:hover .settings-drop {
  display: block;
}

/* View Drop */
.view-drop-wrapper {
  padding-right: 15px;
  display: inline-block;
  position: relative;
}

.view-drop-wrapper>a {
  display: flex;
  align-items: center;
}

.view-drop-wrapper>a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid var(--color-text);
  border-right: 2px solid var(--color-text);
  position: absolute;
  right: 4px;
  transform: rotate(135deg);
  align-self: center;
}

.view-drop {
  display: none;
  position: absolute;
  background-color: var(--btn);
  border-radius: 3px 3px;
  width: 150px;
}

.view-drop .radio-label {
  line-height: 20px;
  display: block;
  margin: 3px;
  color: var(--bg);
  padding: 0 5px;
  position: relative;
  text-align: center;
}

.view-drop .radio-label:hover {
  color: var(--bg-panel);
  background-color: var(--color-text-drop);
}

.view-drop .view-drop-wrapper>a {
  display: flex;
  align-items: center;
}

.view-drop .view-drop-wrapper>.radio-label::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #313131;
  border-right: 2px solid #313131;
  position: absolute;
  right: 5px;
  transform: rotate(45deg);
}

.view-drop-wrapper:hover .view-drop {
  display: block;
}

/* Drop */
.view-drop-wrapper {
  z-index: 5;
}

.settings-drop-wrapper {
  z-index: 4;
}

.settings-drop, .view-drop {
  opacity: 0.8;
}

/* Radio buttons */
.radio-label {
  position: relative;
  display: inline-block;
  margin: 5px 0px;

  input {
      opacity: 0;
      position: absolute;
  }

  .inner-label {
      color: var(--bg);
      display: inline-block;
      
      &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 30px;
      }
  }

  input:checked ~ .inner-label {
      &:after {
          content: '\2713';
          color: var(--bg);
          position: absolute;
          font-size: 12px;
          left: 12px;
          top: 1px;
      }
  }
}

/* Burger */
.burger {
  margin: 5px 10px;
  z-index: 3;
  display: none;
  cursor: pointer;
}

.burger .line1 {
  margin-top: 10px;
}

.burger div {
  width: 20px;
  height: 1px;
  margin: 5px;
  background-color: var(--color-text);
  transition: all 0.3s ease;
}

.burger:hover {
  div {
    background-color: var(--color-text-hover);
  }
}

@media screen and(max-width: 48em) {
  body {
    overflow-x: hidden;
  }

  .logo a {
    margin: 10px 15px;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0;
    background-color: var(--bg-panel);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .settings-drop, .view-drop {
    opacity: 1;
  }
}

@media screen and(max-width: 38em) {
  .nav-links{
    width: 50%;
  }
  .view-drop{
    width: 114px;
  }
}

.nav-active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}



@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle {
  .line1 {
    transform: rotate(-45deg) translate(-6px, 2px);
  }

  .line2 {
    opacity: 0;
  }

  .line3 {
    transform: rotate(45deg) translate(-6px, -2px);
  }
}

/* Checkbox */

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.label-toggle {
  cursor: pointer;
  text-indent: -9999px;
  width: 32px;
  height: 16px;
  background: var(--btn-bg);
  float: right;
  border-radius: 100px;
  position: relative;
  margin: 3px 0px 0px 0px;
}

.label-toggle:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background: var(--btn);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + .label-toggle {
  background: var(--btn-bg-active);
}

input:checked + .label-toggle:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.label-toggle:active:after {
  width: 22px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 550ms !important;
  transition-delay: 0 !important;
}

.nav-links .switch {
  display: flex;
  justify-content: space-around;
  align-items: center;

  li {
    margin: 5px 5px;
  }
}

/* Canvas */
.canvas-container {
  display: none;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100hv;
  background-color: var(--bg);
}

