html {
    --bg: hsl(0, 0%, 96%);
    --bg-panel: hsl(0, 0%, 98%);
    --btn:hsl(240,8%, 42%);
    --btn-bg: hsl(0, 0%, 88%);
    --btn-bg: hsl(0, 0%, 88%);
    --btn-bg-active: rgb(76, 187, 117, 0.8);
    --color-text: hsl(240,8%, 32%);
    --color-text-drop: hsl(240,8%, 22%);
    --color-text-hover:hsl(240,8%, 12%);
}
  
  html[data-theme='dark'] {
    --bg: hsl(240,8%, 16%);
    --bg-panel: hsl(240,8%, 22%);
    --btn: hsl(0, 0%, 90%);
    --btn-bg: hsl(240,8%, 32%);
    --btn-bg-active: rgb(76, 187, 117, 0.8);
    --color-text: hsl(0, 0%, 90%);
    --color-text-drop:hsl(0, 0%, 95%);
    --color-text-hover: hsl(0, 0%, 100%);
}

h1, h2, h3{
    font-size: 20px;
    color: var(--color-text);
}

.home-container {
    top: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Montserrat", sans-serif;
    background-blend-mode: screen;
}

.home-container .home-wrapper {
    position: absolute;
    text-align: center;
    background: var(--bg-panel);
    border-radius: 15px;
    height: 70vh;
    max-height: 85px;
    min-height: 85px;
    width: 280px;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
}

.home-container .home-wrapper .to{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.home-container .home-wrapper .title{
    margin: 10px 5px 0px 5px;
    
}

.home-container .home-wrapper .text{
    text-decoration: none;
    color: var(--color-text);
    font-size: 14px;
    margin: 0 5px 10px 5px;
}