*, *:before, *:after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  html {
    --bg: hsl(0, 0%, 96%);
    --bg-panel: hsl(0, 0%, 98%);
    --btn:hsl(240,8%, 42%);
    --btn-bg: hsl(0, 0%, 88%);
    --btn-bg-active: rgb(76, 187, 117, 0.8);

    --bg-pay: hsl(0, 0%, 98%);   
    --bg-pay-support:rgb(76, 187, 117, 0.15);
    --bg-pay-btn-support:rgb(76, 187, 117, 0.45);

    --color-text-pay:rgba(76, 187, 117, 0.45);
    --color-text-pay-active:rgb(76, 187, 117, 0.8);

    --color-text: hsl(240,8%, 32%);
    --color-text-drop: hsl(240,8%, 22%);
    --color-text-hover:hsl(240,8%, 12%);
  }
  
  html[data-theme='dark'] {
    --bg: hsl(240,8%, 16%);
    --bg-panel: hsl(240,8%, 16%);
    --btn: hsl(0, 0%, 90%);
    --btn-bg: hsl(240,8%, 32%);
    --btn-bg-active: rgb(76, 187, 117);

    --bg-pay: hsl(240,8%, 24%);   
    --bg-pay-support:rgb(76, 187, 117, 0.15);
    --bg-pay-btn-support:rgb(76, 187, 117, 0.45);

    --color-text-pay:rgba(76, 187, 117, 0.45);
    --color-text-pay-active:rgb(76, 187, 117);
    
    --color-text: hsl(0, 0%, 90%);
    --color-text-drop:hsl(0, 0%, 95%);
    --color-text-hover: hsl(0, 0%, 100%);
  }
  
  h1, h2, h3 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
  }
  
  
  body {
    background-color: var(--bg-panel);
    color: var(--color-text-hover);
    font-family: "Montserrat";
    overflow-x: hidden;
  }

  .pay-container {
    z-index: -2;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position:absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Montserrat", sans-serif;
    background-blend-mode: screen;
}

.pay-container .pay-wrapper {
    z-index: -1;
    border: 1px solid var(--btn-bg);
    border-radius: 15px;
    position: absolute;
    text-align: center;
    background: var(--bg-pay);
    height: 500px;
    max-height: 500px;
    min-height: 500px;
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;            
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
    
}

.pay-container .pay-wrapper:hover{       
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
}

.pay-container .pay-wrapper .pay-subject{
   margin-top: 50px;
   padding: 30px 40px 10px 40px;
}

.pay-container .pay-wrapper .pay-subject .name{
    color: var(--color-text-pay-active);
}

.pay-container .pay-wrapper .pay-support-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 30px;
}

.pay-container .pay-wrapper .pay-support-container .pay-support{

    display: flex;
    justify-content: space-between;
    background-color: var(--bg-pay-support); 
    padding: 30px 20px;
    border-radius: 4px;
}

.pay-container .pay-wrapper .pay-support-container .pay-support .pay-box{
    height: 48px;
    width: 48px; 
}

.pay-container .pay-wrapper .pay-support-container .pay-support .payment-box {
    border: 1px solid #00000036;
    border-radius: 4px;
    background: var(--bg-pay); 
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;    
}

.pay-container .pay-wrapper .pay-support-container .pay-support .pay-box-wrapper .pay-box{
    height: 48px;
    width: 48px;    
    margin: 0px 5px;
    font-size: inherit;

    position: relative;
    vertical-align: middle;

    background-color: var(--bg-pay);    
    border: 1px solid var(--color-text-pay);
    color: var(--color-text-pay-active);

    line-height: 48px;
    text-decoration: none !important;
}

.pay-container .pay-wrapper .pay-support-container .pay-support .pay-box-wrapper .selected-box {
   background: var(--bg-pay-btn-support);
}

.pay-container .pay-wrapper .pay-support-container .pay-support .pay-box-wrapper{
    display: flex;
    justify-content: space-around;
}

.pay-container .pay-wrapper .pay-support-container .pay-support .pay-box-wrapper .circle{

    border-radius: 100%;
    box-shadow: none;
}

.pay-container .pay-wrapper .pay-support-container .pay-support .pay-box-wrapper .circle:hover{  
    border: 1px solid var(--color-text-pay-active);
  }

.pay-container .pay-wrapper .pay-support-container .pay-support .pay-count{
    position: relative;
    bottom: 16px;    
    font-size: 16px;
}

.pay-container .pay-wrapper .pay-support-container .pay-support .abs-count{
    position: relative;
    color: hsl(240,8%, 12%);
    left: 6px;
    bottom: 42px;
    font-size: 12px;
}

/* Support btn */
.support-btn {
    margin: 50px 0px 10px 0px;
    -webkit-transition: 0.09s;
    transition: 0.09s;
    background: none;
    text-decoration: none;
    color: inherit;
    border: none;
    cursor: pointer;
    font: inherit;
    outline: inherit;
    background: #68e495;
    color: #34343d;
    padding: 12px 120px;
    border-radius: 15px;
}
  
.pay-container .support-btn:hover {
    -webkit-transition: 0.09s;
    transition: 0.09s;
    background: #6ce799;
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
}

/* Additional */

.pay-container .additional {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin-top: 2%;
    width: 100%;
    opacity: 0.8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
  
.pay-container .additional a {
    color: var(--color-text-drop);
    margin: 0 15px;
    font-size: 16px;
    cursor: pointer;
}
  
.pay-container .additional:hover {
    opacity: 1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

/* Logo */
.logo-container{
    z-index: 3;
    top:0;
    margin: 2vh 50px 50px 5vh;
    height: 48px;
    width: 48px;
    border-radius: 9px; 
    background: #68e495;
}

.logo-container .img{
    display: flex;
    justify-content: space-around;
    text-align: center;
    vertical-align: middle;
    padding: 6px;
}

.logo-container .logo-link{
    position: fixed;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 24px;
    top: 2vh;
}

@media only screen and (max-width: 450px) {
    .pay-container .pay-wrapper {
        border: none;    
        box-shadow:none;
    }
    .pay-container .pay-wrapper:hover {
        border: none;    
        box-shadow:none;
    }

    .pay-container{
        background: var(--bg);
    }

    .pay-container .pay-wrapper {
        background: var(--bg);
    }

    .pay-container .pay-wrapper .pay-support-container .pay-support .payment-box {
        background: var(--bg);
    }

    .pay-container .pay-wrapper .pay-support-container .pay-support .pay-box-wrapper .circle {
        background: var(--bg);
    }

}