/* Imports */
@import "default.scss";

html {
  --bg: hsl(0, 0%, 94%);
  --bg-panel: hsl(0, 0%, 98%);
  --btn:hsl(240,8%, 42%);
  --btn-bg: hsl(0, 0%, 88%);  
  --color-text: hsl(240,8%, 32%);
  --color-text-hover:hsl(240,8%, 12%);
}

html[data-theme='dark'] {  
  --bg: hsl(240,8%, 14%);
  --bg-panel: hsl(240,8%, 22%);
  --btn: hsl(0, 0%, 90%);
  --btn-bg: hsl(240,8%, 32%);  
  --color-text: hsl(0, 0%, 90%);
  --color-text-hover: hsl(0, 0%, 100%);
}

body {
  background-color: var(--bg);
}

nav {
  display: flex;
  justify-content: space-between;
  height: calc(10px, $font-size);
  background-color: var(--bg-panel);
  font-family: $font-family;
  font-size: $font-size;
}

.logo {
  a {
    display: block;
    text-align: center;
    margin: 5px 15px;
    transition: all 0.3s ease;
    color: var(--color-text);
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

.nav-links li {
  list-style: none !important;
  margin: 5px 10px;
}

.nav-links a {
  text-decoration: none;
  color: var(--color-text);
}

.nav-links a:hover {
  color: var(--color-text-hover);
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
}

/* Burger */
.burger {
  margin: 5px 10px;
  z-index: 1;
  display: none;
  cursor: pointer;
}

.burger .line1 {
  margin-top: 10px;
}

.burger div {
  width: 20px;
  height: 1px;
  margin: 5px;
  background-color: var(--color-text);
  transition: all 0.3s ease;
}

.burger:hover {
  div {
    background-color: var(--color-text-hover);
  }
}

@media screen and(max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .logo a {
    margin: 10px 15px;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0;
    background-color: var(--bg-panel);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle {
  .line1 {
    transform: rotate(-45deg) translate(-6px, 2px);
  }

  .line2 {
    opacity: 0;
  }

  .line3 {
    transform: rotate(45deg) translate(-6px, -2px);
  }
}

/* Checkbox */

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 32px;
  height: 16px;
  background: var(--btn-bg);
  float: right;
  border-radius: 100px;
  position: relative;
  margin: 3px 0px 0px 0px;
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background: var(--btn);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--btn-bg);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 22px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 550ms !important;
  transition-delay: 0 !important;
}

.nav-links .switch {
  display: flex;
  justify-content: space-around;
  align-items: center;

  li {
    margin: 5px 5px;
  }
}
